.logo{
    width: 60px;
    height: 70px;
   
    padding: 3px;
    margin: 10px;
}

nav ul{
    list-style: none;
}

button{
border: 3px rgb(253, 248, 248) solid;
background-color: #ebebeb;
cursor: pointer;
}

.titulo_header{
    text-align: center;
    
}

footer {
    background-color: #f4f4f4; /* Fondo claro */
    color: #333; /* Texto oscuro */
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
  
  footer a {
    color: #007BFF; /* Azul para enlaces */
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
  }
  