
.sensorial{
    width: 250px;
    border: 2 2 2 2;
    margin-top: 5px; color: ;
}
.acompañamiento{
    width: 250px;
    border: 2 2 2 2;
    margin-top: 5px;
}
.list1{
    flex-wrap: wrap;
    color: #8338ec;
    margin: 20 15 20 15 ;
    font-size: 40px;
    padding: 20px;
    box-shadow: #ffbe0b;
}